PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/academia-astral?retryWrites=true&w=majority
AFFILIATE_ID=tu_affiliate_id_hotmart
CORS_ORIGINS=https://es.tudominio.com,https://pt.tudominio.com
